.album {
    display: flex;
    flex-direction: column;

    img {
        height: 250px;
        width: 250px;
    }

    h4 {
        margin-top: 16px;
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }
}