.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
}