@use 'variables' as *;

.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin: 0;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  color: $white;
  margin: 0;
}

.page-app {
  padding-top: 100px;
  padding-bottom: 100px;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .app-info {
    max-width: 1200px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .text-app,
    .img-app {
      flex: 1;
    }

    .text-app {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .download-btn {
      font-size: 12.8px;
      border-radius: 32px;
      background-color: $darkOrange;
      color: $white;
      padding: 16px 40px;
      margin-top: 16px;
    }
  }
}

footer {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 3rem 0 2rem 0;

    .footer-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer-title {
        font-size: 18px;
        line-height: 27px;
        text-align: left;
      }

      .footer-icons {
        margin-top: 16px;
        margin-bottom: 2rem;
        display: flex;
        gap: 16px;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: $white;
  }

  .footer-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-top: 1px solid $white;
    padding-top: 3rem;
  }

}