@use 'variables' as *;

@font-face {
  font-family: Roboto, sans-serif;
  src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype'),
    url('../../assets/fonts/Roboto-Medium.ttf') format('truetype'),
    url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: $light;
  background-color: $background;
}

.text-up {
  text-transform: uppercase;
  margin: 0;
}

.title-text {
  text-align: center;
}

.small-text12 {
  font-size: 12.8px;
  margin: 0;
}

.small-text16 {
  font-size: 16px;
  margin: 0;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  box-sizing: border-box;
}

.trasnparent-btn {
  border: 1px solid $white;
  background: transparent;
  color: $white;
}