@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 900;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  width: 100%;
}