.page-popular-track {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: left;
        margin-bottom: 50px;
    }

    .track-list {
        display: flex;
        flex-direction: row;
        gap: 50px;
        width: 100%;

        .left-column {
            flex: 1;
        }

        .right-column {
            flex: 1;
        }

        .tracks {
            display: flex;
            flex-direction: column;
            gap: 25px;

            p {
                margin: 0;
                text-align: left;
            }
        }
    }
}