.page-popular-track {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    border: 1px solid red;

    h2 {
        text-align: left;
        margin-bottom: 50px;
    }

    .track-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;

        .popular-track {
            flex: 1 1 calc(50% - 50px);
            height: 55px;

            .track-duration {
                margin-right: 50px;
            }
        }

        .tracks-row {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .title-track {
                height: 55px;
            }
        }

        .tracks {
            display: flex;
            flex-direction: column;
            gap: 25px;

            p {
                margin: 0;
                text-align: left;
            }

        }
    }
}