.page-pricing {
    padding-top: 100px;
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    max-width: 1200px;
    width: 100%;
    gap: 50px;
}

.price-card {
    width: 366px;
    height: 615px;
}

.free {
    background-image: url('../../assets/images/subscribe_1.png');
    background-size: cover;
    background-position: center;
}

.standard {
    background-image: url('../../assets/images/subscribe_2.png');
    background-size: cover;
    background-position: center;
}

.premium {
    background-image: url('../../assets/images/subscribe_3.png');
    background-size: cover;
    background-position: center;
}

.disclaimer {
    max-width: 1200px;
}