.page-popular-track {
    h2 {
        text-align: left;
        margin-bottom: 50px;
    }
}

.popular-track {
    display: flex;
    flex-direction: row;
    align-items: center;

    >img {
        width: 55px;
        height: 55px;
        margin-right: 16px;
    }
}