.popular-track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        width: 55px;
        height: 55px;
    }

    .title-track {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}