@font-face {
  font-family: Roboto, sans-serif;
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"), url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"), url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

.text-up {
  text-transform: uppercase;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    width: 100%;
  }
  h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0;
  }
}
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 900;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 900;
    text-transform: uppercase;
  }
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 200px 0;
  grid-column: 1/-1;
  background-image: url("../../assets/images/banner.png");
  background-position: center;
  background-size: cover;
}

.top-menu {
  position: absolute;
  top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 24px;
  height: 24px;
}

.list-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 11px;
  gap: 24px;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.left-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 90px;
}

.main-search {
  background-color: #3C3B3D;
  border: none;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  height: 25px;
  width: 248px;
  box-sizing: border-box;
}

.subscribe-input::placeholder {
  color: #fff;
  opacity: 1;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  max-width: 570px;
}

.subscribe-btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  background-color: #34C176;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 13px;
  box-sizing: border-box;
}

.subscribe-input {
  box-sizing: border-box;
  min-height: 50px;
  margin-bottom: 1.5rem;
  min-width: 270px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  box-sizing: border-box;
  background: transparent;
  font-weight: 700;
  color: #fff;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

/*# sourceMappingURL=css.css.map */
