@use 'variables' as *;

.artist-page {
    background-image: url('../../assets/images/Morten\ Harket.png');
    background-position: center;
    background-size: cover;
    padding-top: 215px;
    padding-bottom: 220px;

    // .artist-title {
    //     padding-left: 0;padding-left
    // }

    .artist-info {
        .artist-page-title {
            text-align: left;
            margin-bottom: 16px;
        }

        .buttons {
            display: flex;
            gap: 1.5rem;
            margin-top: 50px;

            .btn-mix {
                background-color: $lilac;
            }

            .btn-save {
                background-color: $darkOrange;
            }

            .artist-btn {
                color: $white;
                width: 200px;
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;

                >img {
                    width: 20px;
                    filter: invert(1);
                }
            }
        }
    }
}