@use 'variables' as *;

@font-face {
  font-family: Roboto;
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: $white;
  background-color: $background;
}

* {
  box-sizing: border-box;
}

.text-up {
  text-transform: uppercase;
}

.section-title {
  margin: 0;
}

.small-text12 {
  font-size: 12.8px;
  margin: 0;
}

.small-text16 {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.trasnparent-btn {
  border: 1px solid $white;
  background: transparent;
  color: $white;
}

.page-p-20 {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 1240px;
}

.pad-top-100 {
  padding-top: 100px;
}

.bold {
  font-weight: bold;
}

a {
  color: $white;
}